/* #ffcc00 */
@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body{
  font-family: 'Press Start 2P', cursive !important;
}


.progress{
  width: 50% !important;
  position: absolute;
  top : 70%;
  left: 50%;
  transform: translate(-50%, -50%);


  height : 50px !important;
  width: 50% !important;
  margin: 0 auto !important;
  border-radius:5rem !important;
}

.progress-bar{
  background-color: #ffcc00 !important; 

}
a{
  color : white !important;
  text-decoration: none !important;
}
.main-page{
  background-image: url(../public/assets/site-bg.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: fit-content
}

.technical-event-page{
  background-image: url(../public/assets/site-bg.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: fit-content;
}

.Terminal-window{
  height : 100vh !important;
}

/* For mobile */
@media only screen and (max-width: 600px) {
  .progress{
    width : 90% !important;
    margin: 0 auto !important;
    top : 80%;
  }
}